.class-container{
    height: 80px;
  
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}